DB_DRIVER=MariaDB ODBC 3.2 Driver
DB_HOST=db-server
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=aguilab
JWT_SECRET=cambia_este_secreto_en_produccion
PORT=4000
HOST=0.0.0.0
FLASK_DEBUG=false
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173,http://35.192.67.237,http://35.192.67.237:5173,http://35.192.67.237:4000
